crawling/kor/data/query_results/
crawling/kor/data/daily/
crawling/kor/data/basic/
crawling/kor/data/adj_span_from_query/
crawling/kor/data/adj_span_from_calc_for_test/
crawling/kor/data/span_top400 etc/
crawling/kor/data/test/